{"name":"qe-test","slug":"qe-test","version":"1.0.0","orientation":"portrait","icon":"./assets/icon.png","userInterfaceStyle":"light","splash":{"image":"./assets/splash.png","resizeMode":"contain","backgroundColor":"#ffffff"},"assetBundlePatterns":["**/*"],"ios":{"supportsTablet":true,"bundleIdentifier":"co.feeldhiring.qetest"},"android":{"adaptiveIcon":{"foregroundImage":"./assets/adaptive-icon.png","backgroundColor":"#ffffff"},"package":"co.feeldhiring.qetest"},"web":{"favicon":"./assets/favicon.png"},"extra":{"eas":{"projectId":"a63fde64-667a-4d34-95d8-10eeda069883"}},"owner":"feeld","sdkVersion":"50.0.0","platforms":["ios","android"]}